@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.footer-column {
    float: left;
    width: 24.99%;

    .footer-column,h2{
      font-size: 30px;
  }
  }
  
  /* Clear floats after the columns */
  .footer-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .img{
      text-align: center;
      height: 2%;
      width: 2%;
  }
  

  .fa {
    padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #f09433;
  color: white;
}

footer {
    font-family: 'prompt','sans-serif';
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b4b4b;
    color: white;
    text-align: center;
}
