@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

body, html{
  margin: 0;
  padding: 0;
}

.footer-column {
  
  display: block;
  text-align: center;
  float: left;
  width: 100%;

  .footer-column,h2{
    font-size: 30px;
}
}
.inline-block-style
{
  display: block;
  text-align: center;
}
.footer-align{
  margin-top: -20px;
}

/* Clear floats after the columns */
.footer-row:after {
  
  content: "";
  display: table;
  clear: both;
}
.img{
    text-align: center;
    height: 2%;
    width: 2%;
}


.fa {
  padding: 20px;
font-size: 30px;
width: 20px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
background: #f09433;
color: white;
}

footer {
  font-family: 'prompt','sans-serif';
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4b4b4b;
  color: white;
  text-align: center;

@media only screen and (min-width: 1064px){

  
  .footer-column {
    

    float: left;
    width: 24.99%;

    .footer-column,h2{
      font-size: 30px;
  }
  }
  .inline-block-style
{
  display: inline-block;
  text-align: left;
}
  
  /* Clear floats after the columns */
  .footer-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .img{
      text-align: center;
      height: 2%;
      width: 2%;
  }
  

  .fa {
    padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #f09433;
  color: white;
}


footer {
    font-family: 'prompt','sans-serif';
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b4b4b;
    color: white;
    text-align: center;
}



}


}
