@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');


//Variable Declarations START
$background-color: #151515;
$mobile-nav-background-color: #FFF;
$white-fonts: #fff;
$black-fonts: #000000;
$email-dot-color:#f5f5f5;
$hover-button-color: black;
$active-hamburger-line-color-X: #000000;
$not-active-hamburger-line-color: #000000;

//this is the header nav that is shown inplace of the hamburger icon when on bigger screens------------

body, html{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding:0;
  }
  
li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
li:hover
{
    cursor: pointer;
}
header{
    
    text-align: center;
    padding: 30px;
    height: 50px;
}
.logo{
    display: inline;
    vertical-align: middle;
    cursor: pointer;
    height: 55px;
    position: absolute;
    left: 0px;
}

.nav_links{
    list-style: none;
    text-align: center;
    
    
}
.nav_links li{
    display: none;
    padding: 0px 20px;

    
}


.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    border-bottom: 3px solid black;
}
.nav_links li a:active{
    border-bottom: 4px solid red;
}
.menu-btn{
    margin-top: 14px;
    margin-right: 0px;
    width: 35px;
    float: right;
    cursor: pointer;
}
//------------------------------------



//Mobile navigation and hamburger START
.mobile-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: $mobile-nav-background-color;
    padding-top: 120px;
    transition: 0.4s;
    transition: all 1000ms ease-out;
}
.mobile-nav.is-active {
    right: 0;
    .hamburger {
        position: fixed;
    }
}
.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: $black-fonts;
    text-decoration: none;
}
.mobile-nav a:hover {
    background-color: $hover-button-color;
    color: $white-fonts;
}
.menu {
    position: fixed;
    right: 50px;
    top: 40%;
}
.hamburger div:nth-child(1) {
    width: 27px;
}
.hamburger div:nth-child(2) {
    width: 32px;
}
.hamburger div:nth-child(3) {
    width: 25px;
}
.hamburger {
    z-index: 3;
    position: absolute;
    cursor: pointer;
  //placement of the hambuger
    right: 24px;
    padding-top: 40px;
}
//Hamburger animation START
//makes the div lines animate to form the X
.hamburger.animate {
    //moves ham to be inline with menu text
    margin-top: -2px;
    .line:nth-child(1) {
        background: $active-hamburger-line-color-X;
        width: 27px;
        transform: rotate(45deg);
        transform-origin: 0% 48%;
    }
    .line:nth-child(2) {
        width: 27px;
        opacity: 0;
    }
    .line:nth-child(3) {
        background: $active-hamburger-line-color-X;
        width: 27px;
        transform: rotate(-45deg);
        transform-origin: 16% 100%;
    }
}
//hamburger line styling START
.line {
    height: 3px;
    background-color: $not-active-hamburger-line-color;
    margin: 5px;
    transition: all cubic-bezier(0.26, 1, 0.27, 1.55) 0.35s;
}
//hamburger line styling END --------------
//Mobile navigation and hamburger END ---------


@media only screen and (min-width: 1064px){
    .nav_links li{
        display: inline-block;
    }

   
    //---------------------------------------------
    }
// Media query 990px - START
@media screen and (min-width: 990px) {
    //when resizing screen hide or show mobile when open - START
    body {
      overflow: unset !important;
    }
    .mobile-nav {
      right: -100% !important;
    }
    //when resizing screen hide or show mobile when open - END --------
    .hamburger {
      display: none;
    }
    .menu {
      display: block;
    }
  }
  // Media query 990px - END ---------------
  