
//implements the font 
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
//---------------
$background-color: #FFF;
$primay-accent-color: #000000;
$grey-fonts: #a1a1a1;
$black-fonts: #000000;
$white-fonts: #FFF;
html{
  //NEED FOR FOOTER TO STAY AT BOTTOM OF PAGE
  height: 100%;
  //----------------
}
body{
  //NEED FOR FOOTER TO STAY AT BOTTOM OF PAGE
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //--------------------------
}
.contact-our-team{
  margin: 0px;
  font-size: 30px;
}
//for the contact us area where the text is that explain to the user what to do
.container2{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}
//----------------------------

//contact form START
form {
  margin: auto;
  text-align: center;
  max-width: 1100px;
}
.contact-form {
  text-align: center;
}
/*Must include type="text" in HTML*/
.name {
  width: 65%;
  max-width: 700px;
  height: 60px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 30px;
  padding-right: 30px;
  background: $background-color;
  color: $black-fonts;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  // border: 1;
  border: 1px solid #000000;
}
.email,
.message {
  //width and max-width needed to fix issue that it dose not resize properly for mobile or tablet
  width: 65%;
  max-width: 700px;
  //---------------
  height: 60px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: $background-color;
  color: $black-fonts;
  border: 1px solid #000000;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}
.message {
  height: 216px;
  padding-top: 29px;
}
input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}
.submitBtn {
  
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: auto;
  display: block;
  margin-top: 30px;
  width: 230px;
  height: 48px;
  border-radius: 10px;
  color: $white-fonts;
  background: $primay-accent-color;
  // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  border: 0;
  outline: none;
  transition: background-color 0.5s ease;
  .send-svg {
    //helps center the icon and text for the submit button of the form
    position: relative;
    top: 0.15em;
  }
}
.submitBtn:hover {
  background-color: $background-color !important;
  color: #000000;
  border: 1px solid #000000;
}
//contact form END ------------------
//recaptcha
.inputs .g-recaptcha iframe{
    margin-left: 20%;
 
}
//------------------------------------------------
//-----------------------------------------------------------------------------------
//for the submit button
.block1{
    width:100%;
    text-align: center;
}
//----------------------

//for the google maps system
.column2{
  width: 50%;
  text-align: center;
}
  .column2, #map{
    width:250px;
    height:300px;
    margin: 0 auto; 
    border-style: 0;  
  }
  .container4{
    padding-top: 30px;
    margin-bottom: 30px;
  }
//-----------------------------

  //for the form
  .column01 {
    font-size: 15px;
    text-align: Left;
  color: white;
  float: left;
  margin-left: 10px;
  width: 40%;
}
.g-recaptcha{
  margin-left: -56px;
}
//------------------

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 646px){
  .contact-our-team{
    font-size: 60px;
  }
    //form
  .row2{
    display: flex;
  }
  .inputs .block .firstNameInput{
    width:200px;
}
.inputs .block .lastNameInput{
 width:200px;
}
.inputs .block .emailAddressInput{
width:300px;
}
.inputs .block .messageInput{
width:400px;
}
  //----------------

  //google maps
  .column2, #map{
    min-width: 600px;
  }
  //-----------
}

//this is used for larger screen sizes 
@media only screen and (min-width: 1494px){
    //hides the hamburger icon--------------------------------
    .menu-btn{
        display: none;
    }
//------------------------

    //for the contact our team area
    .container2{
        text-align: center;
        
    }
    .container2, .contact-us{
        text-align: center;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }
    .container3{
      position: relative;
  
    }
    .column1{
      //width: 49%;
      text-align: center;
    }
    //--------------------------

    //google maps system
    .column2, #map{

    margin: auto;
    }
    //-------------------    
    }
