
//implements the font 
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
//---------------

//global for body and html
body, html{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding:0;
  }
//---------------------

//for the banner and the heading and image
.banner{
  background: url("../../images/contact/handshake-4040911.jpg") no-repeat center center fixed;
  background-position: top top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
  display: inline-flex;
  width: 100%;
    .banner, h1{
      text-align: center;
      color: white;
      vertical-align: middle;
      margin: auto;
      font-size: 40px;      
    }
}

//----------------------

//for the contact us area where the text is that explain to the user what to do
.container2, .contact-us{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}
//----------------------------

//for the form and its inputs
form {
   max-width: 420px;
   margin: auto;
  }
  .inputs .block {
    padding-left: 5px;
    padding-right: 5px;
  }
  .inputs .block .firstNameLabel {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
  }
  .inputs .block .firstNameInput {
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 39px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
  }
  .inputs .block .lastNameLabel {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
  }
  .inputs .block .lastNameInput {
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 39px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
  }
  .inputs .block .emailAddressLabel {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
  }
  .inputs .block .emailAddressInput {
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 39px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
  }
  .inputs .block .contactNumberLabel {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
  }
  .inputs .block .contactNumberInput {
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 39px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
  }
  .inputs .block .messageLabel {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
  }
  .inputs .block .messageInput {
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 200px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    resize: none;
  }
  .inputs .block1 {
    text-align: center;
    
  }
  .inputs .submit {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor: not-allowed;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    margin-top: 20px;
    text-shadow:0px 1px 0px #ffffff;
  }
  .inputs .submit:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
  }
.inputs .submit:active{
  position:relative;
  top:1px;
}
.inputs .block2{
  width:100%;
  text-align: center;
}
//recaptcha
.inputs .g-recaptcha iframe{
    margin-left: 20%;
 
}
//------------------------------------------------
//-----------------------------------------------------------------------------------
//for the submit button
.block1{
    width:100%;
    text-align: center;
}
//----------------------

//for the google maps system
.column2{
  width: 50%;
  text-align: center;
}
  .column2, #map{
    width:250px;
    height:300px;
    margin: 0 auto; 
    border-style: 0;  
  }
  .container4{
    padding-top: 30px;
    margin-bottom: 30px;
  }
//-----------------------------

  //for the form
  .column01 {
    font-size: 15px;
    text-align: Left;
  color: white;
  float: left;
  margin-left: 10px;
  width: 40%;
}
.container3{
  padding-left: 10px;
  padding-right: 20px;
}
.g-recaptcha{
  margin-left: -56px;
}
//------------------

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 1064px){
  //hides the hamburger icon ---------------

  .banner{
    background-attachment: fixed;
  }
}

//this is used for larger screen sizes 
@media only screen and (min-width: 1494px){
    //hides the hamburger icon--------------------------------
    .menu-btn{
        display: none;
    }

    // for the form
    form{
     padding-top: 80px;
    }
//------------------------

//for the banner text
    .container .banner h1
    {
        font-size:100px;
    }
       .row2{
           display: flex;
       }
       .inputs .block .firstNameInput{
           width:250px;
       }
       .inputs .block .lastNameInput{
        width:250px;
    }
    .inputs .block .emailAddressInput{
        width:300px;
    }
    .inputs .block .messageInput{
        width:510px;
    }
    //----------------------------

    //for the contact our team area
    .row0{
     
      margin-bottom: 300px;
  }
    .container2{
        text-align: center;
        
    }
    .container2, .contact-us{
        text-align: center;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }
    .container3{
      position: relative;
  
    }
    .column1{
      //width: 49%;
      text-align: center;
    }
    //--------------------------

    //google maps system
    .column2, #map{

    margin: auto;
    }
    //--------------------

    
    }
    @media only screen and (min-width: 646px){
      //banner
        .banner{
          height: 500px;
          display: inline-flex;
          width: 100%;
            .banner, h1{
              text-align: center;
              color: white;
              vertical-align: middle;
              margin: auto;
              font-size: 80px;    
            }
        }
        //form
      .row2{
        display: flex;
      }
      .inputs .block .firstNameInput{
        width:200px;
    }
    .inputs .block .lastNameInput{
     width:200px;
 }
 .inputs .block .emailAddressInput{
  width:300px;
}
 .inputs .block .messageInput{
  width:400px;
}
      //----------------

      //google maps
      .column2, #map{
        min-width: 600px;
      }
      //-----------
    }
