@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-our-team {
  margin: 0px;
  font-size: 30px;
}

.container2 {
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
}

form {
  margin: auto;
  text-align: center;
  max-width: 1100px;
}

.contact-form {
  text-align: center;
}

/*Must include type="text" in HTML*/
.name {
  width: 65%;
  max-width: 700px;
  height: 60px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 30px;
  padding-right: 30px;
  background: #FFF;
  color: #000000;
  border: 1px solid #000000;
}

.email,
.message {
  width: 65%;
  max-width: 700px;
  height: 60px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: #FFF;
  color: #000000;
  border: 1px solid #000000;
}

.message {
  height: 216px;
  padding-top: 29px;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

.submitBtn {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: auto;
  display: block;
  margin-top: 30px;
  width: 230px;
  height: 48px;
  border-radius: 10px;
  color: #FFF;
  background: #000000;
  border: 0;
  outline: none;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.submitBtn .send-svg {
  position: relative;
  top: 0.15em;
}

.submitBtn:hover {
  background-color: #FFF !important;
  color: #000000;
  border: 1px solid #000000;
}

.inputs .g-recaptcha iframe {
  margin-left: 20%;
}

.block1 {
  width: 100%;
  text-align: center;
}

.column2 {
  width: 50%;
  text-align: center;
}

.column2, #map {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  border-style: 0;
}

.container4 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.column01 {
  font-size: 15px;
  text-align: Left;
  color: white;
  float: left;
  margin-left: 10px;
  width: 40%;
}

.g-recaptcha {
  margin-left: -56px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 646px) {
  .contact-our-team {
    font-size: 60px;
  }
  .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inputs .block .firstNameInput {
    width: 200px;
  }
  .inputs .block .lastNameInput {
    width: 200px;
  }
  .inputs .block .emailAddressInput {
    width: 300px;
  }
  .inputs .block .messageInput {
    width: 400px;
  }
  .column2, #map {
    min-width: 600px;
  }
}

@media only screen and (min-width: 1494px) {
  .menu-btn {
    display: none;
  }
  .container2 {
    text-align: center;
  }
  .container2, .contact-us {
    text-align: center;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }
  .container3 {
    position: relative;
  }
  .column1 {
    text-align: center;
  }
  .column2, #map {
    margin: auto;
  }
}
/*# sourceMappingURL=contact.css.map */