@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");
body, html {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background: url("../../images/home/programming.png") no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.banner .banner, .banner .content, .banner h1 {
  text-align: center;
  color: white;
  vertical-align: middle;
  margin: auto;
  font-size: 40px;
  -webkit-animation: banner-h1 3s 1;
          animation: banner-h1 3s 1;
}

.contact-us {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 170px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  background-color: #363636;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

.benefits-of-a-website {
  background: #202020;
  text-align: center;
}

.benefits-of-a-website h2 {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 25px;
}

.benefits-of-a-website .site-info, .benefits-of-a-website p {
  width: 90%;
  margin-left: 5%;
  color: white;
  font-size: 20px;
  padding-bottom: 50px;
}

.testimonials {
  background: #202020;
}

.testimonials h1 {
  padding-top: 25px;
  background: #202020;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: white;
}

.testimonials .what-we-do-row-testimonial .testimonial-column p {
  color: white;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.testimonials .what-we-do-row-testimonial .testimonial-column .image-pos {
  display: block;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonials .testimonial-column h2 {
  color: white;
  text-align: center;
  margin-top: -75px;
  font-size: 20px;
}

.testimonials .testimonial-column h3 {
  color: white;
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
}

.testimonials .testimonial-column h3 a {
  color: white;
}

#contact-us-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#contact-us-button a {
  position: relative;
  -webkit-transition: all .45s ease-Out;
  transition: all .45s ease-Out;
  color: white;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background: none;
  position: absolute;
  -webkit-transition: all .5s ease-Out;
  transition: all .5s ease-Out;
}

#contact-us-button:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #BFC0C0;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

#contact-us-button:hover a {
  color: #2D3142;
}

.site-info {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.site-info h2 {
  font-size: 35px;
}

.site-info .site-info, .site-info p {
  color: black;
  font-size: 20px;
}

.what-we-do-header {
  text-align: center;
  font-size: 35px;
}

.what-we-do-info-column {
  text-align: center;
  margin: 0 auto;
}

.what-we-do-info-column p {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.line-separator {
  width: 100%;
  background-color: #4b4b4b;
  height: 15px;
  border: 0px;
}

.testimonials h1 {
  padding-top: 25px;
  background: #202020;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: white;
}

.testimonials .what-we-do-row-testimonial .testimonial-column p {
  color: white;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.testimonials .what-we-do-row-testimonial .testimonial-column .image-pos {
  display: block;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonials .testimonial-column h2 {
  color: white;
  text-align: center;
  margin-top: -75px;
  font-size: 20px;
}

.testimonials {
  padding-bottom: 30px;
}

.testimonials .testimonial-column h3 {
  color: white;
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
}

.testimonials .testimonial-column h3 a {
  color: white;
}

@media only screen and (min-width: 1064px) {
  .banner {
    background-attachment: fixed;
  }
  .what-we-do-home {
    background-attachment: fixed;
  }
  .benefits-of-a-website {
    background: #202020;
    text-align: center;
  }
  .benefits-of-a-website h2 {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 35px;
  }
  .benefits-of-a-website .site-info, .benefits-of-a-website p {
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
  }
  .testimonials {
    padding-bottom: 30px;
  }
  .menu-btn {
    display: none;
  }
  .container .text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  /* Create three unequal columns that floats next to each other */
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .site-info {
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }
  .site-info .site-info, .site-info p {
    color: black;
    font-size: 20px;
  }
  .what-we-do-row-testimonial {
    margin-top: -20px;
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media only screen and (min-width: 1064px) and (min-width: 646px) {
  .line-separator {
    width: 100%;
    background-color: #4b4b4b;
    height: 15px;
    border: 0px;
  }
  .banner {
    height: 500px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .banner .banner, .banner h1 {
    text-align: center;
    color: white;
    vertical-align: middle;
    margin: auto;
    font-size: 80px;
  }
}

@media only screen and (min-width: 1064px) and (min-width: 1300px) {
  .what-we-do-home {
    padding-top: 200px;
    margin-top: -200px;
  }
  .what-we-do-home .what-we-do-header {
    font-size: 35px;
  }
  .what-we-do-home h2, .what-we-do-row h2, .what-we-do-info-column h2 {
    font-size: 25px;
  }
  .what-we-do-home p, .what-we-do-row p, .what-we-do-info-column p {
    font-size: 20px;
  }
  .what-we-do-home, .what-we-do-header, .what-we-do-row, .what-we-do-info-column {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  /* Create three equal columns that floats next to each other */
  .what-we-do-info-column {
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 10px;
  }
  /* Clear floats after the columns */
  .what-we-do-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .what-we-do-row {
    margin-top: -40px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .testimonials {
    padding-bottom: 30px;
  }
  .line-separator {
    width: 100%;
    background-color: #4b4b4b;
    height: 15px;
    border: 0px;
  }
}
/*# sourceMappingURL=home.css.map */