@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body, html{

    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding:0;
  }

// Banner ------------------------------------
.banner{
  background: url("../../images/home/programming.png") no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
  display: inline-flex;
  width: 100%;
    .banner, .content ,h1{
      text-align: center;
      color: white;
      vertical-align: middle;
      margin: auto;
      font-size: 40px;
      animation: banner-h1 3s 1;
      
    }
  }
//contact us button to take us to contact page
      .contact-us {
        display: inline-flex;
        height: 40px;
        width: 170px;
        border: 2px solid #BFC0C0;
        margin: 20px 20px 20px 20px;
        color: #BFC0C0;
        background-color: #363636;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      
      a {
        color: #BFC0C0;
        text-decoration: none;
        letter-spacing: 1px;
      }
#contact-us-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#contact-us-button a {
  position: relative;
  transition: all .45s ease-Out;
  color: white;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#contact-us-button:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #BFC0C0;
  transform: rotate(80deg);
}

#contact-us-button:hover a {
  color: #2D3142;
}
//------------------

//-----------------

// Page info ------------------------------------
.site-info{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  h2{
    font-size: 35px;
  }
  .site-info,p{
    color: black;
    font-size: 20px;
  }
}
//------------------------------------
//what the business does
.what-we-do-header{
  text-align: center;
  font-size: 35px;
}
.what-we-do-info-column{
    text-align: center;
    margin: 0 auto;
  p{
    display: inline-block;
    text-align: center;
        width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
//-----------------

//hr line that separate each section
.line-separator{
  width: 100%; 
  background-color: #4b4b4b;
  height: 15px;
  border: 0px;
}
//---------------

//for the testimonials 
.testimonials h1{
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: black;
}
.testimonials .what-we-do-row-testimonial .testimonial-column  p{
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}
.testimonials .what-we-do-row-testimonial .testimonial-column .image-pos{
  display: block;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
text-align: center;
}
.testimonials .testimonial-column h2{
  text-align: center;
  margin-top: -75px;
  font-size: 20px;
}
.testimonials .testimonial-column h3{
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
}
//------------------------------------


//this is used for larger screen sizes 
@media only screen and (min-width: 1064px){
  //banner
  .banner{
    background-attachment: fixed;
  }
  //-------------

 //info about the business
.site-info{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  .site-info,p{
    color: black;
    font-size: 20px;
  }
}
//-------------

//testamonials
.what-we-do-row-testimonial{
  display: flex;
}
// for the testimonials

.testimonial-column{
  flex: 50%;
}
//--------------
}
//-------------------

//this is used for larger screen sizes 
@media only screen and (min-width: 646px){
  //Start banner content-------------
  .line-separator{
    width: 100%; 
    background-color: #4b4b4b;
    height: 15px;
    border: 0px;
  }
  .banner{ 
    height: 500px;
    display: inline-flex;
    width: 100%;
      .banner, h1{
        text-align: center;
        color: white;
        vertical-align: middle;
        margin: auto;
        font-size: 80px;
      }
  }
}
//-------------

//this is used for larger screen sizes
@media only screen and (min-width: 1300px) {
  //How can we help you section
  .what-we-do-home{
    padding-top: 200px;
    margin-top: -200px;
  }  
  .what-we-do-home, .what-we-do-header, .what-we-do-row, .what-we-do-info-column{
        box-sizing: border-box;
        text-align: center;
      }
      /* Create three equal columns that floats next to each other */
      .what-we-do-info-column {
        float: left;
        text-align: center;
        width: 33.33%;
        padding: 10px;      
      }  
      /* Clear floats after the columns */
      .what-we-do-row:after {
        content: "";
        display: table;
        clear: both;        
      }
      .what-we-do-row{
        margin-top: -40px;
        padding-right: 100px;
        padding-left: 100px;
      }
      .line-separator{
        width: 100%; 
        background-color: #4b4b4b;
        height: 15px;
        border: 0px;
      }
  }
//-----------------